*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding:20px 20px;
}
.fix{
    clear: both;
}
.row{
    display: flex;
}
/*End global*/

/*Start Navbar*/
nav{
    height: 0;
    position: relative;
    z-index: 3;
}
nav .logo{
    flex: 0 0 50%;
    margin-top: 20px;
}
nav .list{
    flex: 0 0 50%;
    margin-top: 20px;
}
nav .list ul{
    list-style: none;
}
nav .list ul li{
    display: inline-block;
    margin-right: 18px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
    color: #000;
    position: relative;
    transition: .3s;
}
nav ul li:after{
    content: "";
    position: absolute;
    top: 23px;
    left: 2px;
    width: 0;
    height: 3px;
    background-color: #572F59;
    transition: all .5s ease-in-out;
}
nav ul li:hover:after{
    width: 37px;
}
/*End Navbar*/

/*Start header*/
.header{
    height: 850px;
    position: relative;
    z-index: 1;
    background-image: url(../images/bg4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header .overlay{
    position: absolute;
    background: linear-gradient(0deg, transparent 0%, rgba(0,0,0,.2) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header .info{
    text-align:left;
    position: absolute;
    z-index: 3;
    top: 40%;
    margin-left: 75px;
    
}
.header .info h2{
    color: #000;
    font-size: 40px;
    margin: 7px;
    font-weight: 200;
    font-family: Georgia;
    letter-spacing:5px;
}
.header .info p{
    color: #333;
    font-size: 25px;
    margin: 7px;
padding-top:30px;
    letter-spacing:3px;
}
/*End header*/

/*Start products*/

.products{
    padding: 40px 0 80px;
    background-color: #F5F5F5;
    overflow: hidden;
}
.products .heading p{
    color: #999;
    margin-top: 7px;
}
.products .space{
    margin-top: 60px;
}
.products .product{
    flex: 0 0 23.5%;
    max-width: 23.5%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.products .product:not(:last-of-type){
    margin-right: 2%;
}
.products .product img{
    width: 100%;
    box-shadow: 0px 2px 6px #777;
}
.products .product .info{
    margin: 10px 0 10px 30px;
}
.products .product .info h2{
    font-size: 18px;
    font-weight: 900;
}
.products .product .info p{
    font-size: 14px;
    color: #999;
}
.products button{
    border-radius: 21px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}   
/*End products*/

/*Start why*/
.why{
    height: 600px;
    position: relative;
    background-image: url(../images/bgg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.why .heading h2{
    color: #fff;
    padding-top: 30px;
}
.why .boxes{
    margin-top: 50px;
    
}
.why .box{
    flex: 32%;
    max-width: 32%;
    background-color: #fff;
    margin-bottom: 24px;
    border-radius: 7px;
    padding-top:50px;
padding: 10px 20px ;
     
}
.why .box:not(:last-of-type){
    margin-right: 2%;
}/*
.why .box  .icon{
    text-align: center;
    padding: 10px 20px ;


}*/
.why .box .icon{
    position: relative;
    cursor: pointer;
    transition: .3s;
    background-color: #D33771;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
text-align: center;
}
.why .box  .icon:hover{
    background-color: #999;
}
.why .box  .icon i{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    font-size: 28px;
}
.why .box  h3{
    font-size: 15px;
    font-weight: 900;
    color: #1a1a1a;
    margin: 20px 0;
text-align: center;
}
.why .box  p{
    color: #999;
    font-size: 15px;
 
text-align: center;

}
/*End Why */

/*Start categories*/
.categories{
    margin-top: 70px;
}
.categories .category{
    margin-top: 70px;
}
.categories .category .box{
    flex: 31.3333%;
    max-width: 31.3333;
    text-align: center;
    transition: .3s;
}
.categories .category img{

width:30%;

}


.categories .category .box:not(:last-of-type){
    margin-right: 3%;
}
.categories .category .box:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.24);
}
.categories .category .box .info{
    padding: 15px;
}

.categories .category .box .info h3{
    font-weight: 900;
}
.categories .category .box .info p{
    color: #999;
    font-size: 14px;
}
.categories .category .box .info button{
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 27px;
}
/*End categories*/

/*Start back*/
.back{
    position: relative;
    margin-top: 100px;
    height: 600px;
    background-image: url(../images/bggg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.back .overlay{
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.back .info{
    position: absolute;
    top: 40%;
    z-index:2;
}
.back .info p{
    color: #fff;
    font-size: 28px;
    margin-left:60px;
}
.back .info button{
    display: block;
}
/*End back*/

/*Start testimonials*/
.testimonials{
    margin: 70px 0 120px;
}
.testimonials .heading p{
    color: #999;
    font-size: 15px;
}
.testimonials .boxes{
    margin: 50px 0;
}
.testimonials .boxes .box{
    flex: 33.33333%;
    max-width: 33.33333%;
    text-align: center;
    padding: 0 35px;
}
.testimonials .boxes .box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonials .boxes .box h4{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    color: #333;
}
.testimonials .boxes .box p{
    color: #999;
    font-style: italic;
    font-size: 14px;
}

/*End testimonials*/

/*Start Contact*/
.contact{
    margin: 100px 0;
}
.contact .box{
    flex: 33.3333%;
    max-width: 33.3333%;
    padding: 0 80px 0 0;
margin-left:80px;
}
.contact .box .num1 p{
    color: #bbb;
    font-size: 14px;
  
}
.contact .box h5{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: #222;
    margin-top: 0;
}
.contact .box ul{
    list-style: none;
    padding: 0;
}
.contact .box .num2 li{
    color: #bbb;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.contact .box .num2 li i{
    margin-right: 10px;
    color: #777;
}
.contact .box .num3 li{
    position: relative;
    display: inline-block;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    background-color: #eee;
    cursor: pointer;
    transition: .3s;
}
.contact .box .num3 li i{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 17px;
    color: #999;
    transition: .3s;
}
.contact .box .num3 li:hover{
    background-color: #888;
}
.contact .box .num3 li:hover i{
    color: #fff;
}
/*End Contact*/

/*Start footer*/
footer{
    text-align: center;
    color: #aaa;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 20px 0 30px;
}
footer span{
    color: #572F59;
    font-weight: 900;
}
/*End footer*/






/*Framework*/
.heading{
    text-align: center;
    text-transform: capitalize;
}
.heading h2{
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}
.main-btn{
    background-color: #D33771;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10px;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    transition: .3s;
}
.main-btn:hover{
    background-color: #999;
}
hr{
    margin: 0 50px;
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
